.container {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    max-width: 1920px;
    width: 1729px;
    height: 108px;
    

    .menu {
        width: 500px;
        height: 108px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        
    }

    .caseVide {
        width: 1000px;
        height: 108px;
        border: 1px solid white;
    }

    .caseLink { 
        width: 500px;
        height: 108px;
        display: flex;
        border: 1px solid white;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding-left: 20px;
    }
}



.menuTitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 0;
    padding-left: 10px;
}

.menuDescription {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding-left: 10px;
    font-style: italic;
}

.artistsGrid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow-y: auto;
    max-height: 1000px; 
    height: 100%;
    scroll-behavior: smooth;

    &.show {
      animation: slideIn 0.5s ease forwards;
      pointer-events: all;
    }
  
    &.hide {
      pointer-events: none; /* Empêche les interactions */
      opacity: 0; /* Assure que l'élément est invisible après l'animation */
    }

    &.hideAnimation {
      animation: slideOut 0.5s ease forwards;
      pointer-events: none; /* Empêche les interactions */
      opacity: 0; /* Assure que l'élément est invisible après l'animation */
    }

    &::-webkit-scrollbar {
      width: 8px; /* Largeur de la scrollbar */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #888888; /* Couleur de la barre de défilement */
      border-radius: 4px; /* Arrondi */
      border: 2px solid #000; /* Bordure autour du thumb pour un contraste */
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #1cbe7c; /* Couleur au survol */
    }
  
    &::-webkit-scrollbar-track {
      background-color: #121212; /* Couleur de l'arrière-plan */
    }
  }


  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    left: 550px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    filter: invert(100%) sepia(14%) saturate(7456%) hue-rotate(235deg) brightness(119%) contrast(116%);
    

    &:hover {
      filter: invert(54%) sepia(62%) saturate(518%) hue-rotate(104deg) brightness(97%) contrast(94%);
    }
  }

  
  
  
  .artistCard {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000000;
    width: 500px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block; /* S'adapte à la taille de l'image */

  }

  .artistCard:hover {
    cursor: pointer;
    background-color: #22E898;
  }

  .artistCard:hover .artistImage {
    filter: brightness(80%);
}

  
  .artistImage {
    display: flex;
    align-items: center;
    width: 500px;
    height: 185.38px;
    border-radius: 4px;
    object-fit: cover;
    filter: brightness(30%);
    
  }
  
  .artistName {
    position: absolute; /* Superpose le texte */
    top: 50%; /* Place le texte au milieu verticalement */
    left: 50%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Centre précisément */
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Ombre pour le texte */
    margin: 0;

  }

  .artistLink {
    padding: 0;
    margin: 0;
    height: 205.38px;
    width: auto;
  }

  .artistNameEmptyCase {
    margin-bottom: 0;
    margin: 0;

  }

   a {
    color: white;
    cursor: pointer;

    &:hover { 
      color: white;
      cursor: pointer;
    }
   }

  .arrow {
    width: 20px;
    height: 20px;
    padding-right: 20px;

  }