.container {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    max-width: 1920px;
    width: 1729px;
    height: 108px;
    margin-bottom: 600px;

    .menu {
        width: 500px;
        height: 108px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;
        
    }

    .caseVide {
        width: 1000px;
        height: 108px;
        border: 1px solid white;
    }

    .caseLink { 
        width: 500px;
        height: 108px;
        display: flex;
        border: 1px solid white;
    }
}

.menuTitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 0;
    padding-left: 10px;
}

.menuDescription {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding-left: 10px;
    font-style: italic;
}

.artistsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
    &.show {
      animation: slideIn 0.5s ease forwards;
    }
  
    &.hide {
      animation: slideOut 0.5s ease forwards;
    }
  }


  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(100%);
    }
    to {
      opacity: 0;
      transform: translateX(0);
    }
  }

  
  
  
  .artistCard {
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .artistImage {
    width: 185.38px;
    height: 185.38px;
    height: auto;
    border-radius: 4px;

  }
  
  .artistName {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }